.container{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    
   
}
body{
    background:linear-gradient(90deg,rgba(255, 255, 255, 0.953)25%,rgba(233, 246, 248, 0.69)50%,rgb(239, 245, 245)75%) ;
    color:rgb(30, 55, 58);
}
.heading{
   font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  
  font-size: 120px;
  background:linear-gradient(45deg,rgb(108, 147, 165)25%,rgb(52, 79, 112)50%,rgb(25, 84, 120)75%);
  background-size: cover;
  background-clip:text;
  color: transparent;
}
.burger_img{
  width: 160px;
  height: 160px;
  margin-right: 20px;
  float: left;
 
}
p{
  font-family: monospace;
  font-optical-sizing: auto;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  
  
}
h2{
     font-family: "Advent Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-size: 40px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

ul.examples{
    list-style: none;
   
}
ol{
  font-family: monospace;
  font-size: 19px;
}
footer{
  width:100%;
  height: fit-content;
  display: flex;
  margin-top: 90px;
 
}

ol{
  list-style: none;
  

}
ol>li{
  padding: 19px;
}
.installation{
  list-style-type: decimal;
}
p.get{
  padding: 20px;
  background-color: rgba(161, 177, 178, 0.774);
  border-radius: 5px;
  text-align: none;
  
}


.usage{

  list-style: decimal;
}
img{
  border-radius: 8px;
  width: 90%;
}
ol.contributing{
  list-style-type:decimal;
}
@media (max-width:1000px){
  .container
  {
    width: 80%;
    margin-left: 5%;
  }
}
@media (max-width:750px) {
  .container{
    width: 100%;
    margin-left: none;
  }
  p.get{
   font-size: 15px;
  }
  .heading{
    font-size: 45px;
  }
  .burger_img{
    width: 50px;
    height: 50px;
   float: left;
   margin-left: none;
    
  }

  
  
}
.next{
  width: 70px;
  height:fit-content;
  padding:5px;
  background: #172b47;
  color: rgb(238, 236, 236);
  
  font-weight: bolder;
  border-radius: 8%;
  border-color: none;
  margin-left: 10px;
  margin-top: 5px;
}
.previous{
    width: 70px;
  height:fit-content;
  padding:5px;
  background: #172b47;
  color: rgb(238, 236, 236);
  
  font-weight: bolder;
  border-radius: 8%;
  border-color: none;
  margin-left: 35%;
  margin-top: 5px;
}
.ui{
  width: 50%;
  height: 90vh;
  margin-left: 20%;
}
.browse_img{
  width: 45%;
  height: 95vh;
}
.solution_img{
   width: 45%;
  height: 95vh;
  margin-left: 30px;
}
.ask_img{
   width: 50%;
  height: 90vh;
  margin-left: 20%;
}
.signup{
  margin-top: 30px;
  margin-left: 10%;
  width: 70%;
  height: 55vh;
  margin-bottom:20px ;
}
.profile{
   margin-top: 30px;
  margin-left: 10%;
  width: 70%;
  height: 55vh;
}
@media (max-width:450px) {
  .previous{
     font-size: 10px;
     margin-left: 15%;
  }
  .next{
    font-size: 10px;

  }
  .ui{
    width: 60%;
    height: 45vh;
  }
  .browse_img{
    width: 70%;
    height: 40vh;
    
  }
  .solution_img{
   width: 70%;
    height: 40vh;
    margin-right: 20px;
    margin-left: 0px;
    
  }
  .ask_img{
     width: 60%;
    height: 45vh;
    margin-left: 0px;
  }
  .signup{
    width: 75%;
    height: 25vh;
    margin-left: 0px;
  }
  .profile{
     width: 75%;
    height: 25vh;
    margin-left: 0px;
  }
}
@media (min-width:450px) and (max-width:1100px ) {
  .ui{
    width: 80%;
    height: 53vh;}
    .browse_img{
      width: 80%;
    height: 53vh;
    }
    .solution_img{
       width: 80%;
    height: 53vh;
    margin-left: 0px;
    }
    .ask_img{
      width: 80%;
    height: 53vh;
    margin-left: 0px;
    }
    .signup{
       width: 80%;
    height: 40vh;
    margin-left: 0px;
    }
    .profile{
       width: 80%;
    height: 35vh;
    margin-left: 0px;
    }
  
}
.Link{
  border-radius: 5px;
  background: rgb(21, 53, 77);
}
.link{
font-size: 15px;
padding: none;
color: rgba(232, 234, 236, 0.83);
}



